
body {background-color:pink;}
th {font-size: 20px; background-color:white; letter-spacing: 5px;font-family: sans-serif;}
td {color:floralwhite; background-color:lightcoral;}
h1 {letter-spacing: 7px; font-family: 'Satisfy', cursive;}
table {border-color: PURPLE; background-color: lavenderblush;}